body {
  background: #fff;
  color: #000;
  font-family: "Helvetica Neue", Helvetica, "Arial Unicode MS", Arial, sans-serif;
}

#matrix {
  position: relative;
}

#world{
  position: absolute;
  top: 0px;
}

#fog{
  position: absolute;
  top: 0px;
  background-color: #000;
  z-index: 0;
  width: 605px;
  height: 605px;
}

#prawns{
  z-index: 3;
}

.field{
  opacity: 0.5;
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
  z-index: 0;
  background-color: #f00;
  opacity: 0.5;
  float: left;
}
